.navigation {
  position: fixed;
  z-index: $index-navigation;
  top: -5rem;
  right: -5rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10rem;

  -webkit-box-shadow: 0px 10px 21px -5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 10px 21px -5px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 10px 21px -5px rgba(0, 0, 0, 0.26);

  &__nav {
    padding: 1rem 1rem;
    margin-top: 5rem;
    margin-right: 5rem;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 2rem;
  }

  &__item {
    font-family: Bellota, sans-serif;
    font-size: 1.9rem;
    display: inline-block;
    margin: 0;
    padding: 0.2rem 2.5rem;
    font-weight: 600;

    a {
      text-decoration: none;
      color: $color-grey-dark;
    }
  }
}
