.section {
  position: relative;
  margin-top: -$peak-size;

  &__title {
    font-family: Calligraffitti;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 4.5rem;
    margin-left: -1.2rem;
  }

  &--about {
    z-index: $index-about;
    background-color: white;
    @include height-and-arrow(90rem);

    @include respond-to('medium') {
      @include height-and-arrow(145rem, 3rem);
    }
  }

  &--skills {
    z-index: $index-skills;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.65),
        rgba(255, 255, 255, 0.65)
      ),
      url('../imgs/bg_skills.jpeg');
    background-position: center;
    background-size: cover;
    @include height-and-arrow(82rem);

    @include respond-to('medlarge') {
      @include height-and-arrow(162rem);
    }
  }

  &--resume {
    z-index: $index-resume;
    background-color: $color-grey-light;
    @include height-and-arrow(150rem);

    @include respond-to('medium') {
      @include height-and-arrow(160rem, 2rem);
      padding-right: 6rem;
    }

    @include respond-to('smallmed') {
      @include height-and-arrow(150rem, 3rem);
    }

    @include respond-to('small') {
      @include height-and-arrow(170rem, 3rem);
    }
  }

  &--contact {
    z-index: $index-contact;
    background-image: linear-gradient(
        rgba(155, 155, 155, 0.65),
        rgba(155, 155, 155, 0.65)
      ),
      url('../imgs/bg_contact.jpeg');
    background-position: center;
    background-size: cover;
    @include height-and-arrow(50rem);

    @include respond-to('smallmed') {
      @include height-and-arrow(50rem, 2rem);
    }
  }
}
