.about {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;

  &__left {
    display: flex;
    flex-direction: column;

    &__photo {
      background-image: url('../imgs/profile.jpg');
      background-size: 100%;
      background-position: 0% 25%;
      background-repeat: no-repeat;
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      // border-radius: 10%;
    }

    &__info {
      margin-top: 2rem;
      font-size: 1.7rem;

      tr {
        td {
          vertical-align: top;
          padding-right: 0.5rem;

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  &__right {
    padding: 0 0 0 6rem;
    display: flex;
    width: 80%;
    flex-direction: column;

    &__title {
      font-size: 2.2rem;
    }

    &__info {
      margin-top: 1.5rem;
      font-size: 1.8rem;
    }
  }
}
