@font-face {
  font-family: Changa;
  src: url(fonts/changa.ttf);
}

@font-face {
  font-family: Calligraffitti;
  src: url(fonts/calligraffitti-regular.ttf);
}

@font-face {
  font-family: Arima-Madurai;
  src: url(fonts/arimamadurai-thin.ttf);
}

body {
  font-family: Arima-Madurai, sans-serif;
  font-weight: 100;
}
